
@font-face {
  font-family: 'ChronicleDisplay-SemiItalic';
  src: url('ChronicleDisplay-SemiItalic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChronicleDisplay-SemiItalic';
  src:  url('ChronicleDisplay-SemiItalic.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAGdAAA8AAAABBvAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABnJAAAABoA
AAAcS+Cum0dERUYAAFj8AAAALAAAACwETgLKR1BPUwAAWjwAAAzmAAAzBMCh69RHU1VCAABZKAAA
ARQAAAG4UiE7hE9TLzIAAAHUAAAAUQAAAGBY5i9hY21hcAAABTwAAAJkAAADfkqoZvRnYXNwAABY
9AAAAAgAAAAI//8AA2dseWYAAAp0AABGlgAAs5CwGQrraGVhZAAAAVgAAAA1AAAANge29BdoaGVh
AAABkAAAACMAAAAkB8IEi2htdHgAAAIoAAADFAAABaARTBVzbG9jYQAAB6AAAALSAAAC0j49ETZt
YXhwAAABtAAAAB8AAAAgAboAw25hbWUAAFEMAAADhQAACSHLSxAUcG9zdAAAVJQAAAReAAAHYjIP
80l42mNgZGBgYGRw/DF3O0c8v81XBm7mF0ARhkuZ4cdh9H+Xfw9Z6liaGJgZOBiYQKIAi3gOFgAA
AHjaY2BkYGBW+G/BcIIl87/LfzmWOoYUBlEGJMCYAQCQ2QZVAHjaY2BkYGDMYDjAIMAAAkxAzAiE
DAwOYD4DACF9AX8AeNpjYGKcz1jOwMrAwrSHqYuBgaEHQjPeZTBi+MWABBYwMNQ7MDB4wfgeam5e
DIoMCr9ZmBX+WzCcYD7A8AEozA2SYzzLtBNIKTAwAwDzAg/BAAAAeNp9lG1ozWEYxq/7/h82CbUz
s2xDaRs6bN4WJqa8xJww7IvlZTJR+ECNL4YoRIRQfGWksA9Y2vL+QdLmG9HUSJiUrGHhdj3PzuH4
T05d5/d//q/Pc93X/Ugn/E/i/GskhyBXmlCttzBRp2FEEMMSvY8ofqBa6rBI6qxW6nFQRyGODrsh
mzEVHUiXh3ZA12OCnLe3WmBdOhbZOhcDtRA5OhnjNQ3D+Ey+FmMwPqE/PtlNLcBGHc5rBRgtz1Ee
HMZCbbBmvWjt2ohS/UZeoQ5SL1EazLB2qef7Z9n3oA/P7bL2oMVeBCOtTb/x/j0853ibnGhf9BrW
BFFs1SYsiyhW6CO7o5f5zZP2WrZYlzzEUbJO1qJKGu0ePuKwDsFw7YOoNCNPMzBM7iJHZlqNptlr
zcEgiaFYsqxCunk8AvlBITK4hgzpQq5m2llN5zP1HJ9CmlSgRGOIyTNkagsy5Yt9kFZrkAfWKad5
fgIOyWk7LrWYkvC+UL6iWFdz7g0od9e1jN9ZhW3BPI5bUSOdyJcd2CSzUCs7sUEz7CfnvY1+7WId
FspQuy53sFk+I0JPB3k//6FIkTV5j68kPE7I+ZsqV4Pf/oYV88xzHqfKe3yM74vabO/nv9RGj+ix
9zdVzt9UdbMOCX/DojdxMuo8TpXzWPvaEU+3Xve9MLl2X+MwXeZY9990nnBevXg1NGY+fUZCdJn1
uXF+uvX84RsZYx3Jscuzy5TLtMtVD+3xX+P1CZZhpK8JfQnT1cV7E2IkDzOD/lzfbVdj3ufJDCTH
7BeX2V5kD0mFveshSnx96fF/OQ4x32/MvMuCr0Oy75j9XkzUxGeyza8hz9c1MQf6KzIJW6gTshgn
8ASnpB/2ygC7LJU8f4nZf2/nkt8MMzkH9g6Ct4m9rpvaR5UDmovpQRams3+2Uwv8vnYB26kFcsFu
6CRU6lIMlafYrc3c64rYg0WI6Ep7pWeQ7XpTS9mD63BcsxHXKu4Xc6k5VhPEqWqqrOdYS8iY1UR4
T2QDj5eS80m+I1iOxW4v1uvcR5kJ7MfWXxqPwjV42q2T2VPOURjHP8+vTdkrWr3OW7zRqlDKnrQo
Fe0iWxmyk53sjHVsM/adLIVUk0ZMwwW3Lt0Y/fgPuKuZjjPlQuPCjTNznnOes3zmzPf5HsCNvh6K
mIjUmEx6c3cpNeNCZuGBL7Xcp56XtNBGu3hJiIRLhMRLkmRKuVRJrWgryCqzPlpf3FyOo46fykP5
KH8VrBwqTLlUikpTDc4Ap3KGhfl2u2tt2Io7POS5Ybbymg7xEYe4JFISJVlypEKqpcsKNMwP1mfD
POD4oSzlrfxUoApVyjCT+zHRWn/X7/U73aHf6je6XbfpVt2im3SjbtD1+rGu0/d0hB7a86mnsqew
Z9C35m8ZdrKdaMfaUXakPd522f72wM4HnSmdCZ3xX1M9i/o0+c/N0/LpVZq/6IL1e2b9g9F30w13
UxtPvBiANz4MZBCDGcJQhjHc1MwPf0YwkgACCSKYEFPVUTgYbZR3EkY4YxiLiwjGMZ5Ioogmhlji
mEA8CUxkEpNJJIkpJJPCVKYxnRnMNJ6YTSpzSGMu6WSQSRbzyCaH+eSSRz4LjHMKKKSIYkoopYxF
lLOYJVSwlGUsN+/fyz72c5ATnOUSV7nCNW5wnZvc5q7xxj3juYc8oI5HPDHue0qDccszmowPm2mR
LDZSSRWrJZstXGY91VLAZtYYdi3nTNzUq9OqftqtZZuJt2hkByv/WF/HdslhBTvZwxm66JbZkirp
kiFzJI0X5sQrCZY8yZf5kivFUiLz2CpzJdPs7OYQuzjMAY5yjOMc4RSnzfpJLnCR89jG1RPYINES
I7HUmH8TJ1G/APTRpcAAAAAqACoAKgAqAFIAfACuASABeAHYAfACDgIsAogCoAK6AsgC3ALwAx4D
PgN0A8AD7AQiBFIEbgS2BOgFDAU2BUoFYAV0BbAGCgY+BoQGsAbiBygHagemB/IIGghMCJoIyAkO
CUoJeAmyCggKWgqcCsoLCgs4C4ALygwEDCYMOgxMDGAMcgyADJgM2g0ODTwNgg2yDfYOQA58Dq4O
6A82D1oPqg/kEA4QUBCMELYRAhEqEWIRjBHKEhASTBJ+EsASzhMOEy4TLhNYE5wT9BRAFFQUxBTq
FTYVbhWSFfQWAhYoFkgWYBaCFpgWvBbmFwoXRBeIF84YDhheGLIZCBlsGbIaCBpgGrIbGBtQG4gb
uhwAHDwckhzQHRAdSB2QHdwd9h42HoYe1h8gH34fyiAKIGwgvCEOIVohtiIWInQi1CMeI14jniPY
JCYkWCSMJLgk+iU4JY4lyCYCJjYmeibCJuwnLCd0J74oAChYKKYo6ilGKYIpyioQKmIqrisGK0Qr
hCvAK/4sNixwLKwtAi0+LY4t3C4SLmouqi8AL0Avni/oMDowdDDAMRoxZDG8MgwyajLIMw4zPjNm
M54z0DQONFg0kDSyNRQ1dDWyNeY2KDZgNp420jcON0I3ejeoN/Q4QjiQON45JDlqOaA50DoOOkg6
mDriOzI7fjvgPBw8gDy+PRo9UD2mPgQ+YD7KPxg/cD+0P+5AKEBeQKRA4kEyQXpB1kIsQo5C6ENA
Q5BD4kQqRHBEuEUSRUZFikW+RgBGLkZuRtRHQke4SCpIfEjOSSRJhEmyScRJ1knuSgRKKEpISmpK
kkqsSwRLUkuqS/pMYEy8TQZNUk1STVJNUk1STVJNUk1gTW5Nik2mTcBN7k4eTkxOmk8aTy5PYE90
T4hPnE/kUDxQrFEIURZRklHqUkBS0lNiU8pUOlSaVRxVvlZoVwJXvlgyWIhYiFmAWbJZyAAAeNrF
vQd8Y8XVN3xnrqQryWq2eu/FlqtkS3Lvve96m7f3hW2U7dRdSui9hU7oYWkhwEOAAMnSQoCEpaSQ
BNhAnuR5E1oChKyvvpm5V9KVLdky7/P+PhLJWpc7/3PmnDNnzpxzhhJTVDIB/km7KJqSUDJKQakp
Sl/sLgZWALS0m9YWATf4J7vwscfY8w4fBlccPvzKY2DTK/R/HzfRT7AHwPnHXwL7wD72AvYC0MQe
oNB/kLIlPwPN8B30NCNFxYOxkngsGjHodSpAewJ1tTH8WXKpqiRYVFJtcVStHbYHQ4lQ6Gl6DRgs
7fQ6nGf+mf1D0GoL4hd63jrwAPgSPk8V4edpg/EWQB4nYYyCz1tlkXDYqrOUtq9LfwIPSE5Z02zV
GBrblqU/cRijyXfgy/A5yko5KQow0XiUiTJe8vLGySseJS81iMbB93re6jH33ARuH7kPPNRt7n4L
vW5E/7oXHO6Jjrw1Ap/76KOP9Mf1H/Ffvj5+HHHUlXwGDsI3qBaqhxqjKIS2EiDyEWCE1wGM8UoR
+acxbkT/RER4CXvigSBjiBqiDjH5VjBei/8didE6gzHuCXg9kves5vENIb/F47HK2oO9rkC1peSy
7QqJ3qrvXhF0WDxWo76rCwAIbPoava3okq0lsgfXdzPq7uH/qq5rgwq6daJLMiHrj7lqPBG/xOCX
faXWOp1h8+gOMCTpl/fWOCqcZr1PWln8CQAquc3gDhkHD4DLumo+Bd3gan+N9QPQRFEiajz5Ca2E
j1EmykdVUY2IlwhqPAq8IIixoznniIpGtPxXPFvBSAviBKJEr6MDQRWiPYq/A+4I1S7bYZv6eRV0
0sPr/dr6rc2JlhtXdd9W33LTyorI+aM1kzWJtv27qkobVtehz3CLYe1UFF5EN4uaDq5sT6x6cGoE
vT+UiK5+2rR0d83goyMDMKEJGm7rHFi6pwbNiTb5KXwd3oRkvYTqRGhjdbUBgoNBLww9YOQxEtxx
BA7NDfq+EZOTmqHUPGLBM4A1e3zOcJvvrIa6zh7n9s3j3qDXZvKKoK2+whQrdYSk3V1bPctPHlm0
f6dZt3+4Z+GmlV3g9PZz/KG++u69HXuizd07rQ8GXNZSp1FeRMtjHSN1DunEjh0Lm4d32wIx//BJ
3bV1q9wTFCC6ECW6kKUJW3PJPCKPGk1OwnJ4nNJQlBijboFxowoiUo2g4YRDSy+5e5ze9fBE28A9
tT87a8uRS9dqi0I//599J13bSIHk3uQKsAiy+G+ZYAtEnArGsZyq4Pn0bvxHYvKEu8ifnHxNo6z2
52fiZ+BxLwIXgDeQDUigf0iCgSqgggz6Go/F6wL4ixHJMv7iAAz6iRHBQt9iJJUgyDhoowFsdJcw
Mhl0WaRuk8mjXn2iIlCi85sbZTK6yKtRiaHRDRm6vkJeTtPl8up6iZi26w20BlygKdecAOm6oMRu
tThUAblJanA5jOoB0Q5lmYS26WVlcVoMTBpkjHxiIFMCichlsTFl2C4AapjaALXQi/kLUtYAWQGw
P/GW5K16S/3bkrcT0HvU8O67hqPoV5JPJndQV1C7KSXmUSwelAR4wegWnWYV2fxBmyN4laKuixb5
EsFy5248Rj31KegCJiSNVCtwM/VFgCr6tLSUjC9NfkaeJ6coQ0ZhtiDzaLcFNbxRRONemCyFo/Bv
FLLgjAxEZWAvWATGXewD7MPvgQ/Ah6yTdWE7F0l+AU+EdyF8dmSLsZpBrHgq6EfTSKS5BaIhbtuY
WNfsIW/gtdplF4+sPpV7v/37W266t/vGLTff+2rfjecuPribvBNeJf8bvV0Ab8VrhheJYlwbCwRb
AS0xGBkTPRqTnqXyLRR99QNZ2RitFOld4A9RP63UTt3n0ouU+O+/QgBrETYv+vtWwFsEJq17vIKp
gd4diSETKdf868TlJwZ6dS1lTlfw3FXrtl/8xmUA1NWXKhM9h/vPWXAo6NI2OCrKvJ1rl3X1nnNw
FR1qBz/n5tWE+NCBxoohvYlH4vkHExhi8i1O+5GZeFdyXoPFflJphzrqdzlCZ6zbsPOKy8C2rTfu
Xn9Smdvub5R3lXeFEmDIEDGNBk72GLQRWzhkb1k40dl1glzMTHRObB9v8FeXWut1Jn8oseFMPD8q
9NYKr6OKKT1F+b0MZp47HkNyEQdROkqDqBZWXRqQ+hpF7BtwjSLIvq8ET/VuvvgR9sXPRt+4wqoH
SiWovqIS3MieBgLs70CA0GtF9C5Cz0W8NQqIMaQEgAlq3Yyb4cl+f8HOsMfhTRhWV3Z7i7ct6NGv
BocC7K3ti8dW7bxPNdrkjgYtjdqW2gXjwbNjDOhc9+vYsvHN13FraQ0aazm8D9Fg40ej/HoRbZxp
7L9ZvQWEqST7yCJ67ITxRXcfqJ0oHe/fpzpt1ctAXKxqZr+lT1g/tO0R3YYL2k+9b/vF3Nw5kl/B
DYgWBXp6HXCjafPG3UZAO8CX7GeVteWKRvAczf7jeTkDG8Mj7xWx57J/oZB2+RGuRjTnRspPVaf4
kGW7yWTzKxBeYrGJQ6aRXxS+3bRzy/Lq6ks2rNy0Zkmi7cYVUlGiqTvePNa5vK1lazwSG1BNtreu
tzg7K8ZPm2iJr7C5RxKTJ4FuEW1dE20a6e+L9Hxd3uNr21nXNID4pEdrTyvCU4x1EWAElDjui6dW
FaOHWwjx6GD/qi3su0kKgEWDdP/mBcvu2RtZWLq459RqeNfpa4+wU8Wqtim4bv3w1od1685v3XfX
ya2DZC6KkP34Pbge2Q9DlgWJC4R8K2dNRMjtQl9CKavyn7TLRcHkT5Bdw88posxIYwR/TGdZuev5
Z/wrY+1ASeo57Aqh4QPUidRGWAGDyNOkKkDczygBeIZ9SAKelbEbQePGd4zvuo78DMsT9R50gMfQ
DDJIJ9xx8j/wF3ZADJ6oIO/vGR4xcLJRSm0E/4d7plbMiOMV4EawQMJ2ysBN7IswmH7mYPIzqIRv
UxYqgH1SrNBE/40GzP1gICURtIDUp61l755S0a5MQOCzOwIA7F24fv8tly3kaX5aclXiyKllFnXc
FAjamybXDS7eZWIfyHARz8dQcgd9AjxMRalWtAIT3Ui5F0Fv2s4Yo61ADSSp2fd6eIFEXgcdaQWV
gPsOOHL/m0D+4hU/vXHdbihq6KhrvH7JgBEaJhtjyvjw+Y9eeMZrO1+486L98jOeLK0ZEwfsweHy
q166+xVQ9ND5lz20cLC94YQnWmKyS652m6P3n3bG3Qde33/9CwtVS6lk9xuewIozakcw5uSz6O0B
+CLSGytv2ZEVQv4qMkwtoApwRgrQXrpTlBitAYsqFkgdCRH7kqjHL9H9va+8uF0ENF7Rk8qinmFo
mbov4WaUSpEn8sPdfQ1FSuADfvb3SD+TH6FxDsOnkKzqqXI0mZxtCoQBnfkUd/N2mfDMzS8zINhX
v6CspH2g9pFtifFy3dCihgtoUHLugTP3gxcfvJN9iu6qkl7HeME+T2OrP1E7tdPX1l/e2Aj6leOt
vZuVtP6CiQNKkcEGoxYzkaNGpJsfwF9gisksYc/KiDYF3hTvudkACw7ccsKrp60bjWvaNd72/tHL
RresvfAs9cXFPzi0/eVzamv+fs7kxb/csH3//UUvEl5iGr9GNJaQ9RevkDxFDEeNMcotRojWNQhw
Ow2Y+w63NJz2M/Z2RMPOM04Yae1avb2xEwOllTedO3Jd/RkIuHak7Y2Nm07k1mE8xntojCqkA26E
WEI4GItHaW+lmOMmjUhJMS94M2ys0zBSlcpgC1jOHGutr61T96jFYrlcb9G1Tl5d1l5TG3QVd0zd
wbOxHT71jt8XNdjkUvbd0lH2C489oFDR7MMllsZY9OMUI2kBFuTNlILUgPFpqJC+BT1h4imAevb+
1Cg0bIxjXEqEy3zmwtaGSK26W62UqSrFko5BabA/PZDy/aC/zmAvkrK/8A+zXy4rsUD2b3aDiErP
5T/QXPqxDyecwFbAgVFhZfNmphkea9GEWvoWXTG0Ybwz1sB4OmkQpms80sazd519D5rvLaO18OVj
Bxdc+c7WjWe5f281ipRK2mR/o/XOg1tfOTdSlZ4H+lpEe5iiOF67aW45z7AB7SZot+Az0aTr6daw
dIh9ZYjxNdPsk2l2gC66Lcx0g0Q3422hQT/dEWGuk3o7kDdlcAAL+7EN40jzRCkyWdkkgBYTQWeZ
eh3/nPfTvkG4tOhralABKPCvrlrmemmwh2bvpbsj0uuZYBcNlsLDtNE69bpTlxrDZqSVhM7jiL9Y
bx1ZvoWEeEoxIaWSw+OrIz6HL+wvqvXEuy37paW9NFhJd9UxpzQX98X8jT67u0psdC5YBV7Ej1ei
IdllH/K8HEdjYLtA5ktggNDk5WArciDRZ3qcbp+YuO1SayhOs8/THXb9tjVxxoP+8dw0vi4BLR6t
u5SGTymVld2H2FebPFKlUuKp+s/I6zkY+wyQ2CIesZKX8Y0IG7IcM5ULo4Fg652n++Jl8dJSbe/U
kczAPXRFTQncPXW7xtiWaP5cMARU6whv308eFwXRs4PYT41qoyDKZE+ZF3iR5RUy4Br6X4MisOIz
uiOKxMPXQbPP0K3l0u9L2HWmVcxBnbeXZr+ku7q0B2QheFg59QF0ZcQDixJsmjoNnsfqeupl6N9N
feCo042x/DH5OX0JwuKkKLTFELAaY8ieAjAJDGCr1t9PAyndW6+91su+AfbovP00+0+6t7Vkt6ys
HnF66l1w9UAcjVIU75t6E65ju/vxmPLGHvC4L0HEC62ZWH+/Rvqrwv6kOL1HwQEkzpdMLZBg4f7b
WrfePnng1i0vnr7oyqGR4cVXDA0X33Zo9NYzR287uPUX52tven/bupPQ2/qdVNoe349oKqJ83IpD
E9vLW2UVDANGSBmwtEWGqxxFzV31f6SB/MIDgcFDEyNtWYoKehzVbc2u5jijXNFfNtIR+odQfAg9
pYSeSqoJzWotv2lH214Hza33aRXyeipp7JYEsZsKBI5AC2jc8uLeA7e2nHjLMke9t9JUrPd5zCbP
2r5wTzhQavA3BhSDa5Zthd0jw4gRwyPoDRSf+Or5tx0cueWMMaBqjoe1KoVPa/L4LXXdnppqj79c
sV5jugY0r9950++3rt954/uEP8l/w0cRf2RUhOMPSPHHxW+POO3DUAG2p5wZzzDM0zawEdnSJsQu
DRCfeQ7Y0MWIxK4W2uEc6FQwclnNeG9/Nv+2tC2rrUfcu3ZwSzEtGxgbaAkhX81SX7Wwv4n9PIuZ
REe+RvJxInydqkB733iUWB3suPOOfXrVRu6Ugzam9nNBRtamDk32dy/qGh7tu2L72FiDJl4cGGtp
HNXoKhC4wQvOjGz3Joq/OGPNeFPtSCDU37rsvHDNn3aPjzQY/Banpji4oGXdJXZdLV5j1iL7JEJ8
suFV3cttSfhFLsWOz+/0d6xcoe2Gq+o1cplGoTXa9aEfSEMDNHsz3V/bCdeNHvr448pQo84uZaZu
4w0tevapyU/p/ejZeP2iubBUllnlY2qZb4HF61WjI6v3OCdKAn1EA2Pa5faLLzh5r2Jd2uDB3ewl
0VDf8PpdoLkba11RbR97//ZTtk4GKsBO3s6R9XMi+QXdicY3cusFUvZKwA1kRAaJDEq3xUar2Vt9
42JfHFleuqdU3CAG4mpjDw0APCzrGpj6A1xX4ZajhzrLWAv4/nCXDNlOannyC9GZnH0D2qg2KHgy
IYeYOzSiYFBQXiX6k1zsrqVBFd3uFQXFv6swdNH/pmOjpexr3ij7R1+X2BOjQRnd6oSr2HKwZW2l
D7mctCvMVoPTx/oQCll//9SH4I+sB66t8MjxzzhZegHNY2Nmza7KqH8rSCNwgnjGcSALEVqMe32q
wYerVA00e5xuWtr5kw3F4QYa9NF9fnX/7dXqRhqI6KZFPQ9sUVc0ohU7WPq7n1S3SJRKaazneSAN
e9BHUSh05K5oI/rE1PU+yP65zMMoyT6JomMIE4IoWOsEeIzaeIpXcP/RtszS3b5B6ULz0U0vKJWv
/FmVpov+D93QDsu+/jS1jH8GqkNGTL/Txf7pr7EGzJpKxIc/I+U/hsYsRmMSC4R32FESd3EH4fjh
lv0rS/qgFUxd92rbSWvVXVMvA3jXglPhb9RTWydOgx+pcTwnuRzq4HG8a2OwI0pHGfm/gV/y4j9e
FN9N36E/fqGeyNcVyVIwwsWuxEUgagUgMrrQNrowE7gCybOSk+AW+B/yLLQOIu2iD5IHAf+/79HT
e/XHV5NnrYBGcDP8luz/4lGjN8iseEuzyrTpLmg8dmz/fjLHP0dv30OrGI13M26mWQqekTqdnK94
KdSACPwIx9tAkDfETgBKt1dZSopNyk6o2VBuLLZYnN/n1iZn8muoAG8jb74MeyZYO+P6TKw4HTgy
tgIm43YiY/5ugzxUFa8sDYiht7u8ue/+DaEKTckJb1VOVPh9dZFecQhEX/UW61Uiud7sUulAJLxo
cM/LLletwrj1gtpY89K/B6o4DNrk1+AvyP7JsQcW56MrDG0AJNoeJHahLs7FX16pWVw5Eq4dLwGL
By9ZsK6/aR3jjx1dTvcPxbrkGy5u31zNvlwJIsPXbGh8HZxnNtIKOfssHBrDvLGjcR5DtDr4aEX6
fMLLRypIUBx/CwTaht0Wq8tYog1UjIR3jzapBveMbrkVvB0LW/0Oq9ovMy0/q/HyJfJTN0+c/Cii
wYH42ItocGErzlm5DB8zvrnBiCW9jhayEvbeLw9Go3WlQQg7RxqHhk5rD1VqmyT+WHv1gtJSfzzc
jxyd16fu9GqMWsRNh1slB8tWDPZfsdJs+chsohXst9vOr6tNDP7HE8b8tCI6X0B0GkhcRicJpmyu
MRMIDCKdQKsMeOG2G8SRxuCoXblw78D6+/Z09FwaXVfyW7C9dZw2uXo7KwNFJ00u2v1Uve/0haKr
E0T+NiUTIAmPEkq9KesdS8XjkGnHEeZUKJ9jAWKxGkTBnj193o3L6xpcEbtVqXWFtZtPZrYX2U4a
SnQ4bBanqcjc6THuBz9mH7zvYMhjcrsMbo2saRIcNYRP2lEdtHpdFo9Bc/V6zvf5czIBixCdPhwN
i6a3P62ZJSUTJYy1AiTO2tREayvBDxtHBw60dwc1J8aW2ndsG17kt1vsPkMs3msy0a7mNdXjwbFo
aEhWtnig7/KV9RWKH7Avb55sCDpLXWaf3jcxsQgEvODZbefVbWkCwMPtmSh18hvwOZKDQJY21dW2
ghgn1d60OPMcAh934emPLJG1F9XWDy/aVnUAi/Q6WLGhrKIGRI+6lPoiNO0teuurPkNNJ3v/D8BH
nGDfAavi1eVuPOfVaNw2+AzyAx3YJ8uc+Wi58VOjYkhHyp16W7lDb4811i+WLmX81a/tkIXhJm/U
avbW2afekJu7SuzAhvigkLE3WouNKsLvBck4qCFj+LLHoKcLADeWCjyeGumL2mYy5zpH2Lxe7Kt+
aYdzVXrA438Lefm57tsArtGRYfv2bUnx81vEzzp+bwKFUoVcTj3xhwTaFuPiLDybQfyA1Z3wN/ud
XofF7CzSVdZZxpsYR8TTWueRukqDrRy74etsR0t/i8/s9FqMJRpR54CcFkVrlAuKdWogV7l9+iF5
1J+keNZzc+1P/ht0I2zaLI3HvCZKDrp/xFQ0NDYvlp5YI/GhIaZusalMGhHirtYKVv+EfxCgSpLf
wCnwFonlM8TK2QHHXBJDmy5CEiRE2pQ0kRBA3VcO0caRyurNAxURRZcswEmTsirWC5hlm5YqIrHh
RdurWxhzBXhzLb25OixZWx12+o/aitOSFTRWNMot7IugCn3CMvZxhk6ED/wL4Qvg8x0ytUxKeHMC
pL0deKzHHbByQ2llTVFGvusSCAj3aNlaTng9M+WbO3P/GvwO6TaJ1wJus0SmV5s+8UGqExpb13LG
7euvcQQ7Q8ZR/AbePmFJ99lLT1iy/RE23rPlxLJdvZu3lp1K5PfmZDv4Cj1TgaM5qXUGcdMBgowE
eUF6dx0yE1qewrR4f1Q5Hh42xXVDsqquSlpVFmL/2suEt0kQhQa6dzTWe/+W1uI1F7ZvshvY35kd
0geKlFKgUNDm88H3LXpEaR8cHevb+xpZ6xzJdqgkGLA3LFwG6LggftrK7ZERoha0b6peEAqhZWBA
XrqyV9w+1jRw9/oebLf20dY69n8iAWyFYsj+f+spnzr8ydIVgye/SOxVXFOEgEDsg5Wg0X4KjlIm
wdpXG5ekJQgTDHZ5gz6b1aWMDY5x4vK4Gy4AR4N2T5m1VkUvZZ/m524bPAU9k0FzdBmiJZZ9JsNv
YCphUHA0wSlsahsDuG3MHW2TbovRYZNFzZX1So/BUpdYu6hl1G4zOOxMuaEs6nS44/G1suqQ1W83
2g2KkppAidWsVJrj5e2Lo36Lx6Fz6RTqKp8hUFJsTZS3LcPyGkO4zoI7iL/vpUkUOq2ZaGlCvI2C
fadPyOKB6ET7BtmyZczS8PbaM9Cyc9Slq1TJIwstTlBjuEZzFyf/5WhtN4I3sdXjmcU9tBVGs9Se
X+cTwzJbxU/WyptqexOlW7fLgzV1kQVSuGJJNHrdpxZi3F5zmCIdT9/K3uBWGZQiuaFBbYEbo+UO
bjxd8kvwLngHS76xClYCpi6uNUbjyFHJxKZe6WbsImv5fS6RpHGJsdZts3pLO5TMTf9waIGimP3l
qvE9A+ZKmzdk8Q4vJc/8Ar6FnomkTlwF6azHBmc+HrzRK1H8sF/CjUFLGpu02k0umqkfsJGxfG0q
2Y2rklRmwJUrVtbdKGN/uXrBpkluYP/IIm5P8n/Q/lYO3sX+Ah6ImA6dxBOIo/23EesdE/QyvHqj
HzF4b4A3UnV/aqaDzia/0++KOIGn2tVR4qy4uwWGfc1dQafV7IKqamOwS+WsAL96fqw1Hoy5Pa6i
5a13lCEmMz9f2BP326zukF3cVNp9j0cPFAjLo8h3eQXxAcejnABTLTw/U8HMShaLVwHMpMc9bpgY
kducLqvNE1k6vrt/Qbkv4lGPtSPf1xEGv3r1d0sOjMmCJquv1FG246KDF5WG3JaAx2YtVq7/+5uY
PWjcfyY/A6+D17FHZgwie4N2hWRLQswM8c2Iy+L10GpwDvxhbcitCIOlUvZC6KzSTarCpSqFsq7N
t8HUpTGBvTQNbI3wLjN7Fa2QeOvgia0KIqdLYAjtV8r43AgSRcBxjBYav+MxVTTZ8/GLphG0rjml
NTIi6uwwGrQir8+7dVIciRlsDpnLblsyQK/sqdl2P1zUUfGQI+yVasRao2HB6Dqf1w7UIp3BNjm6
3G6z0mJpe63/B4FN2M5ckiyl7kF7IbQ30UaLvZdYLPBvx1s5Obg6uQRcg/CV4j1QChY2fQQql4uB
9cnIqMQI5nZxDYLiKnI7OCjl20RrTm2Kjoi62ioNYh8Cez9BsXbJOrudQ+G5NLhJqYaL2yu/bw37
GI1YV7lsyWaf10H0KkF9A/aBs7EtjKfYHuXZLmES1kH9Zq3epFara4Lcp2/Oihh9nU01Ri+x3UE0
h33wHS5vCwgjxUYJZIhFRdaatgVDNnswNKDWBuXFNRZH9Wo4ljpE66HXs08EOz0tZx7j9j7VyXvB
ZxBnG5VlMqpawfQEKjolI2EQ1Bm1KvCGWd8z8cDJJZaStgGv1eS2GLR1p6ARJ2xK/7ZmUX/TST2b
lomHZWuH9zwIusRtks4Kc6nDqPPLAwy7mq4JyhOND692ghtkj/AxqC/gVngXhZNsvNiIw9SGoZIO
ZtYlPE/IhAay7XosZdgNxij4+O5zLYtGyqIJszp2sb263Fwlr+szOXoTNotfvFeyQ3rD1uHJcrct
UOYUxYNtw1JwGAwxV7XTGnlFk+gVuaWkTLrFbnDX0E3LXW59JHDCoaF4oMZld4QkpuDaFcYJGZrL
QYqizfA6fEaUzjLAwoS3HhhhUBhb4EILaAPCeNEbHPtlQBroFrEPibqj0sAvxL/QiF+QPNEh81bS
IE73BqWtz4yeQv9VVNOVOPyY5HmN+rV3LnOacDTf5LxM31Cs/9pnISEHB/v1b5frlUpZddtLem0C
z2dG/tFOX+stjtJIC+6x4P/AOPj+1G/YzWTe1cldsA3xu5Uazbl68uG/eCD3AsrHAUm+h7YWnz8R
T8JoQI7Zb1Zs9ztNNj8zEGofam3uGBwb6N63cuEGt93s8EqbAol+VXHQYOnt7e1p2Hd6U0uZIlTd
Uh+2+EKX9ETMFQ5DWKfzdFQGa6zW9njdmKLq0PquSmvIaQhqtc7mCrW1xFikcHUmaiaKyxt7TgSH
whGbViKLev1Ri1atiBH6dkE9eBjeOlNXhNkpYLPeFnbobGUf8F+h3mb2RKwmT23qK857GEz+ka6H
v0e+S4BC3/CnhFEQGCV7dya9y84RWr+/b+k5mxsqzWqP2uALtSzbOtCk7Nl37VObn99/3X9tfn7f
rifWPngZfrt+ydD6Kzz2S0dqr19w1jLZjqeeuHzPKwcevwK9Fe9+/uQLD5M3TOMmMAg+gT9GuDyZ
nAIjOfnmtyM4hBJH3h2Xkver6oZDo1GLaqK0XKGrRpNml4qsNaKgt04arusHg+31y6+uLZcduKHU
AGUalx8EXcGWR1pv6FzA2Qo/ZQRfgvsoKbZg/mCgFtsJI4PDPOQTOHh+se2Y/MGBt/mvxh8bVbq7
FD/5Gf2oUcpo71A+8RzOcdwO7gV3IH7iuXFSXdn5EMFIOoXQECeiGCYEIV5jSrAuRZCY6g16hnwT
k4m9Iu/XTSPre9Grp215Txy9EkVGq1eKJkKigEPQDN3o1dWc8EIgU0KpFBjUEMAiLbh3pKl3PX4p
l7fHe/HrOrPBNNYkEjOM7FwpYAJ+hhaZTUoZA9TF6hI1seV7kQNzGVxG1hmk53uRo1sEK8Mk/nEC
uBNcBX+J6DOQ+Eda5BguLRN7/eCqrd2R3hO7I30fx1xRU7yyCS7u2d5c37ut6ZLhznH38JlcjIFF
T/gSFqNnqbMz6LQ4h2NT7QuSF2ot5H2Y3SgBN8HiFwxHjhhemPrUQHDughrQC4+R/MZ0TEQNdi1y
OYwas6f2ZKg5O+oyqbVe/zj+/bOTN9OQ5E9RYi3nmvBnVFovDSqG9h568UGgoQfqZE9ZXl7x8gZg
k58wccrdCrHRPTUKP5myoGcMAZp6G1xIxhTM7BV8ngeggzZrCL+Q3X8iyVDX41webIWCcbzM4Nln
sMk04r/SRcOykM/pL/UUq+krLKvACUP/tqj1SENF8p39tKS/NI55vgMMgF/Cx2bm12Sr4VTL+L7F
reP7lgYaTWYHfgMDQ10Lzx/uWXBu8eSJFeVl5I2TdxFlA2+BBzl5R15qMG406Bgx9wHJ4FEk4mok
6uxS/oNd8eRPZY8imb9D+dTPZD82SBkdZ2s/B7+G71IWsucyMlxeClpVucimIbWIaQlgLgC4zlL2
7qkV7YoE9JJUmT0T6/ffcvkCLrMbFqVTZcz+oL1p+bqhxbtMYFE6VYbmck7ot0jOSWD2rBNBnHaO
BBRQkgrjzpaKAt5Ph3hTOI4SHMHZcQjlcw4gf02L7+xABKKdxvIsweKZCwuJfc8B48BPlEPFqy6f
FcM7R46sXEkJxj+PjF81x/iEFdkO4hxgTldHAroNWr1RrcEO5HrkQKpmRfa7zqaIAbmXUaMP4xPx
+C7j5yo6h9TkWVPnEqFt05bcWSF+OHM5TvPxRipElXMxK4yJYG0R8e487xdnkEMMORLj8ybfIYC+
wFBl7iXDY0aT07egPhxtqxoTwKYxXtoXDvnQEkRgYbDq6EX7z/T7mWpffKymvHpQNvXjNHY9QX3r
ZKxhWayR2O9nEGOXwKeQn9WJPcVKJjt/qBVzFG2EOPiAbEOyknvEWi+gx9UiWiouKtLq1W2T16TT
iW6nu6ql9V/tr22lv6JbxzrBuZY1NDwvk4t01ijJRWIvWFvEPv9nG3K+9SIZEKYZ/eaiZrsXgVfG
hsAT9hK3XClMTPoZ2MZek8oBYkg+V/Xs+VxoQ80n4wlMeb4kr0P39CJrHhca+JlpX08q48TIp2w+
n3PwHrJtVVRDgRla/oyJm3+yFtiUPrwqLG1rIm3/UliPonUJ13IILJy4ENzgSNrQsb+cN3CaStu/
3sLyzVJ4j1ASrFmAWEE1KAjqCs4YvvMdYGITWSDCVJ7je8hOYf+xN793XxCH4cA0e8R+NX8CxNPN
1FCBxEAulwzJspacCubIJqsCmVPU3IllZ6bFM1eGWW/WeSsZ71skj1pSp5VjvKBARvMM+OuM85hz
xMyqm6LvCBrPkns8P7fS5hmK/Q0nVbkHIksrjceAGiQPmKZwHqry7QBzD1s9fV+Ya/ihmYtTJj/V
gH097iRythxVGlnQNYMbJZu68ueqjl8kubgTWC1sroxV9qiFzCvJLUO+hROv23Nkl+HakBneRUEZ
Z9/m8DHmzkLrznI0aC4fDck8zkcLzpGRJsghyJmcBqwp6c+TpgZZgQKkxsb22IL8hyyLTM+G49W0
zB/KBUNgao9/mj9fLjU+tq96XEvCWVhm1qH3cyrQmHtcrAN5h0yNdx7hdfXsvM7lc+Zm+ik5xCAf
+48LJ1/E4+FsN4mm5LPes7EEbpmmnyfn5M0Ms3z8b3n4hPwb6iB0QwbvWVsB2t/FSWSDaTx2SHvo
mPLYOdpzjl312I/UP3qsmLyTubQn36cN8A9I151YlozeOA8ZO0YENvKDjAR5EBiCOiMgBDQ6NvZi
tLtGljg29W55ce+ukWcRaBk76KmRgse9WxB439bh0zHS/hVbx/cisH11CGhFgI1seSscAm9suel9
tK8keW1Ij0g1TmGZbXGBPhWS5Pbr9NpSSLbbSdm5PRw+rGs1WZoGC0vCO5ZWue8XgFSggRcXlJiX
wod1sTzj6xSG7VpOJycKAoZVtDBMNI+J04/m/NrBFAQTnjtNTy4qBO8MtbmiQH6SPDs03y7Cz7ky
7YSORiFZdx9mvI658u8uFu77uTX5EFqT7fjkx5uVWK7mIfBpysF0ArMjk2TeSZdXF4v0pRftv/uO
UTNOtU2kk5izM85LBlf2L//eKpxh+4SziuQw47ONrmQCiuFRqo+imGlZQQgJZ+Fovc4Bc1RK4oNs
hAijwpkNKjBc1+Aymxw2pc4V1u6K3t+71F9X5482RxctqRt0WYw2u8Rn8Jc7KyqczvJyZ/egZ41v
wytcMpOrWNY0CZUft8RdUY+72mGJV/SHmpdwx9sunaI44ndGfL6I0xMPlnWUrb6Fbbn/bG7dInl6
8COSp1c3r0w9ocmZO2mvImVwCsjeW5iJM/H4jhF8sXnhy3J45wboSYthIQgFgpjCyOU61swTI+ck
zw3vHM4wFYKND0xxuIrhtQRXy/xw5XIZ5gZ5MIf/UADi8Sw/UkRwG+Gt/Jx3zE8q820I5kZ/YJpR
LQD50hxxLBEvD5/w+Nu+M/5gOq5VAHpHOD4aR6+YN1zuKS8Ee3Uw2otfxSPh2GhZjLMHJQj7H8Db
VIRqoNpTOT3ZiZ5BL59TEedOdJh0dBsXaMYA+j38+4DLBIWLOnrSuaDje9snxbR54ynt910nqQw1
WpzOWuf6wX0mepz9dd140W+C4HGSJvp2faUgUbSvr2MkUdW9ALhqmpsDKo/N6TJXtCxezC7cOiE+
1eMHN/BJpDgXlyG5uLUzzh28MyQjK0GXj3BdKoxaHZKObrl164yU3daVC4WnFRtwqu70/N216nb+
DIPm8maRjcV5s6G5MmeFcYE8SbTFaVuaJ5t2XOivceN/iGyogVspZx8/y2zmAbA0YyvzIcgYSG78
I5DLG/bNPT5nEvMM/ThvB/ONyxk/ERnz78iGcDTXzTmqQDiiQrORB8Y5vI24K2Ur8uBZnCOWQHJq
lUgeuFrXmXm02szK+q0wk7YhNe/WmYm04JtsHx2PcTY5H3RknxDmyNt9MD2d7VmJu5kTRLYoZ+ou
P84aNLcScj7HzV2OIYa5absh+/l4snI+mibPvZQ/5y/L7y/nGAp0T7Pjy7IGnZEJwEry0Ybz+v+A
aDOTKhxkQpBzacA7SAOTseDGAC3MHC07T35OdKl0a+8K+aJDNLjqtLF11+wNWRVXBjtLDSSTFC4f
KulL+FXWutqSyhOeuv4VnFOqm5z6XJBVCknuLkBrdwDHwgvMjs210Z81Y/ZHOdbrObNooSr7fInm
cmqRPOMzWl/+rFqBWOdIsD2WNmq5M22hOCveYyO1HceIfPiz4z3GfFm9urScS2cMLxD2ptyZvik6
sayX4JojXtrzDfcoJ/LrcgyF5b4pXz4xN87naO4xPytm4WcuJ20mY+tyOWV5eEwLplZEcHzJ66CX
eLZ5tDAvxx+YporumcyYoY/teRhDU8PUaTAAi9EnJcn+cZP4L98ojE5/gm62XAzePmL24MpPzyb+
K2g0DHmqPej/7B+5rxTpc/Xf4Bg4RumQnURrozGeyQFKRXqYuM6oxa4CNHLtFupog7ah5pp9PVU1
+sZIyxlj3TXVi8GXquZMtviXSlNnbPH2R0oTnbVLETmlietKpMDUjWi5BRMl1ojYv3UjPSc5wEh3
cFewgrKABZHTWRKCQX9KneZKDQY3C/QqhQfrVfW0KGq8EGxpDftPfmzCdeX8uROXU5iw3oXTWlcI
nDc4DXxgNihkCZoTBc1j4HShaZboZiFc+vk0rfjLLABnLlcHC8j1hlw+MppHct5fYEYyf35ApnuO
7OTfZTzAAvKUx7PjNpcn28Ff4euUDWucNs3FIMNVJsRagZVXhGJhMcV7PSOxvvtPaPFUigON7N96
mHAfKdJbUTUeHjEmtEPSKnD+CK6IcD5QrIJcpYQmVaz3NHthppaCy9vAPPoDmtMg13WmQC7580z9
XPnc35u+vSyAcYtnyZPoJ/kczrnyXdxz5ZdcgFPcZs3W+Banv6XjHMvIvrZynnEOdyHxg30YSgFb
15MxoBQf7iokBwnpazzKrZVzZrIwjTG1RjJZ3W7V1c6exbJwaLK88jYBb378HeJUcQG0AngkE6Ar
ZJefxgiTzyYVpF8RmT1yYhTDic0ZTgk56E01ejRKinCd+c9DkeHhmpcF3PpCyMfl5ZscJnNI1NiI
WPjPsKeqxWvMMEzIRmtLp9WuVnihietvhGuFFaRWuApb1hSu3JxLeb4ZcFklr6A+FBkdc+kk0xkY
w3xtPMthsgbEjbEMN/9Z5q1u9arhNP7dwfPV0TbIYX00U1rM9d34gJx/BHOdNObpiHR/2mSuz9Mb
KeuwMXefJLIneYusz2U5vN78lcdUMj28NXcNstADzl2NTKVpv5LTuNkyhoQNwvJ3g9Lby516e0WO
rlC0wW7m6jjTdD8G70BeWtmcVdbCGFq+iutz+JHzVF63ZwZP0YzPkzy4+j2KqZ11qv88jNwO/VO3
5Z1n5HQcyTPFPK2fE3/HnxpPPVdheZgbsiTf3OIR804rn3uDz69LuBjN7B244hwPZmvEdYDDk6cf
13IMh9hNXN/+T/gNqW9PzLfC3R9Pb4gLKnYHjpDMpNcY7JOFlr1P3Ol36tX68Dn/P+aAEB5tRf5S
iDuhQY+djUs8rOm9ALy9kp6DOVhUeq7kXOX0ngCn69hoLvbcrIvM7AvA5231I/sdLTBvD7dznX/C
3pskGb+wXL1TeJ8FxwHfQD4LjgO65449uvMGHh8mvkmeMN9ONFqKD3dx/Z0Ly18UrP3fIYFxTOAL
FMiXZQKfBfPmY+SzFBYXFropeXhUJfRN8kVEUwBS/LpyfvxKW/bvwK9x3ugXyqv0IpCK4d9RMK/m
jCB7UwtQPj4Jlj/cSw35SLhfYMfsnBJ4bV7ekZp3O8MFvCvXFCMuH1tUWHfDlF+X8v3SuaeIdwrS
NySMe2UZs/y71ElXhpdqkFlItRw7bw5FBrqjdifHvTQ7kefWUMt5dGsxR5EvV9XiMksJEwXHRxWe
itIGH+fHPcYdFE3Ph+XWs8JSdz/gVjb24e+SEIuWvUITYjmZ+6LQc5MqQGjIJ24NHOr85yZkQeZ8
nX8gG+bnTrIL6QoptAyFdIj8RGi1ZusW2ZKxVVxPFmSrcE+Wpu/QlUW4yyq4Q4tEgLTAbi2C/RbP
yyvnycu0UhTCy9+mLNqsfMzYMZ6Pd/zf8DENsGA+KnmUhfIwjRfxkP2Q9ChVEt8iq6dyYRx9RrS2
hLa4vWarB5wxN0PZD4sqYxA6I96gbTV99xy9THl+0hqEL0JyLIwSxhgz8J46PV/ugnczaA8Vyl1a
I4A8VVNoWyGY7sMapeJcR4t0MrGwIWvazSWsdQs+R8XuuJtetXkP7rWKm2lO7866Z5NksznTSdQM
4pZMh1bL5qmfgYSffQUk2e5Ui01ht1bwjGl1qq3oqtWpbq1r7rxY2A+pcpZ+SClPOE7KK/P3RdrS
I+lW4kii91zJOQ2z9Ue6SRcl0cTTdW+mWiSlc+H7KW2qE+DMXHh33kT4T4hTmysPfSNxYfkz1u3I
hy3Bdac5zotp9Pisg+Kt+Jk5DomhgfipOK9ejmx8/loBoa+XG/fNQiOeM4s+7ecR/Bci211C+rDl
OO8WDJdFh0UwSK4z76nUGCD5CfIxcO/eQMbD8E5rfEsiXBn/qI14N68KaKJTlO5LeUD/FDozqca7
HKUpdwfx83/Q2LhHFrHzAv8mm0pEeGZwYSVrV6hmeDhs1GborrdVn8pF004jltNWjoBUt7p14uks
oOVyW2sfAUL7BDELXiavnHWO56qWuDK1uOSc3yz/lMtpAG+SitqZM5w1q9Y85+3Jj9gPSS9jJan/
mmbr59Hb+GcCk//xfNscZy8A18+v5zGk1OyHpK+YEtcFZtOg/Q59xnoypPQW1nEsG/8D82s/xvnF
G0lsc/qpep4Ozn3puKJxll7OwizuPF2dIel79hr9FhrbmZ2zYszRBe2bTNJKdju0ZHqkSM7GaETO
SF9qJenWM3OOZlJ5U2YaArNQmc37hXnbVyMMryM56SZygtYQehqGmdRWZQD8IovcadOduxUcP697
4Z8pOdlJZOJmwTzT+mUqUnbtLPSCqVR4bN8stJJ5/RR+w/XhzBo7R3O7ramBo9nTWpwa6plZaVxP
+o37p+eDMykyhWFpxzRyRITUWGlpSXeYN33T8sARlYaWeOP/gDJhfBjTdy2aSyK3wpPhIpCDwEH0
WAcy6b4s+gC0WcgxXx14LU8/v3Q/dRzHYuJ6JrvgGLfdyvRV77rh9iXTJq5jy0lDWd3Vg5ZS9qnM
tP3barUBR3rqAOVFdC1GdFlxXDaun5Z1xNS1QkLQxPqN23t5Wton17m5poTsYbPJ+q8MIb81mEzb
UrSk6tpwL41wdg3JXA3Uv0zr/d2FtFL/d9oatBXQVJ3Lu1KS85VItv0D8YJysEBDprL3+Gy5V8Is
iKvm7lxIeIbWx0uI3aqYbrfoOdj214z9qC+AbdMWwTk5h/iG7Bnu5ajEmbfTsBXGuaUZiM/Pxrgs
bODsOVmXkrVnKQnpnsqfp8zBMKjiAiYvFCRkOHpSuHzZyNlORTruVKhoLeYjT3+aXa4wmAJEKlVD
2I+zvkkPbbxLma1g8Xy8rWBfyFmT5wiHj/86b4FkKncO99VR46xXbdytzpfX9jwe5q6ZmWKV4fBk
3twwjpa7SD1kaI7aU+HuJnfxqViw8chTAEnT/OaDo+0/aH9TxK08efP1hOPOzNN7Qxg8z5OfJ+fH
JPWWtI34aal6S4GtihZa/XrjMo/TUGz0xk69Nf1pKm8drFGt9QTH0x9mKYgluYNwBZ+fSXIHtbnx
wTzM+l0OZFtyZ21Og5UvsRLiHB9RN7KfFTjeUZqqYYjmifpCfDunh8GMagT0w1OfP/BEc+Lcl2GP
IOo72jI96ls70FEdKmbP2rVtorX73cjt5w1enjiUO+JraGxrBc8vaH1l7XsUX3f6NS0nfcTLyeoz
s/ZC2DEPCLhFkRgwPMRFxxuCow7lwt2bg/3bcfbx9tIF7E8z6cfVm9ZmFVhUBItOGhvD/Fq1Ssgx
8GMcGSZnw/iuCyJrehLjEkrXd7j54rH0CnnLvO/AEOwj2HlchwFJn9rXiTz6pu0t8nWt/TYNc0eu
9rWC9bs5dyNb7lwd7TUeJWu2EVcCTVsZ58+9X2dWyWXz5l7W0gl75sG/5DNofcd9fpV4Dc3er+Tt
+9sm2IfLc/EwG8+judmYkj98VqOh6jMZGN9B9N7iVtBnv4PckVV1PjewcDL3HlnrnWnUecUNFHPY
FucWNjx8fjmD3F0vREfrp/uthd/8AvZlnNdTC7oFJitlqZAbYTBfcH/np4gudmTrIv2duj1/kgY9
XljfZ4HqTv1lfj2gEZ8ZcqdO+4z6MsQ/b2G85kvNHhGWmp124mhCMwfLz9wzIKw7W01X1s7K8pUX
SRq4IjTcU5shPbWHZ+DOWZo8N9d5IjZn1csxqoJmoLdvkZCQjaDgSYhNFHWkegMSmT+J2IVagS89
D3H/Ie9QtxUo61zaVgFizsk4p/vN2Tlj82Z0yjCcUahwY5TzlGtIrUV7SxFZp8pmrFJ57m26PGPe
+2a/wil7y+bOc6ETsWN/ResM7rGuxJ70tLhYnp7r2gyOD2d2X89eY66a2YodcndUETnyZuYqD9Hg
D9xs/Ht2ijlZmcp3dxUkveS/JDExjzAmBvP1ld+ZCouJZpKYiY2tzNFpPtUPox9xtLTQfiI4Qaug
RiLd5PiqkCYil+GzJ76OYhnywkKF1bvgDPZZCl0ew+PPWePyEzI2x4dUbkNhfVWEe7ZC+PFz4blY
IWzZnTkn43jD5TgUVgskQDdbMVBCAGpOXt2R3tdy/HqX+P2N2ZHNTGl6gR1LIlnl6Y8W1K9kWoH6
HYXdy5aq1fmE4G7IhxsUUqmzPQs1+9VshTrT0LInFVCnQ6d76WCZbC5cO3Pv9QuS0A05dtaFdQGa
udem0vzehfw5PqekMK3OTcEsUvxSDtxzF7flxozvDlSQuwMTeXnOReGyUukKuU7QunuHji+FiOMT
ZqWqgNsF1+8sUgjT5yTThBrfwaAgd4XEsiokMgzNw/TMiTPoCUUWDrt1Up6dihmcbjobJ9OJGnBN
RKdTBVNM9ORmsr1lhDsAJz49ua+QrKGVmZ5LhV5c+B+uUO/P87i/kOu+9IN5XGIIubtKiE+W7gvF
aAu5tMTB4btprrtLuHLCqY8KusIk1VfpCOUidSRz9VXiGyoW0lKJ/S++u+KcDZX4XjGpesG3EZLK
edQLEkRzFL5dzHdsKKROMN1TmefNZaTnVKKQrlN5qvIKYdeG6V0h52LbFTnK8vC9cfhuSLIHt087
O59xUyR4Mr1pvSzXnZGCffWKrNsj8Tjkzheyfy6dtn+e9QaYr9JDJue6C0a4Q/4gz70wKXqvpIoJ
vTNpFE5DzpsxwVepDJOsKzLhV8LckhS9d3CZ17PfciPMq5nzxpvU6HluvoHaTB4iTyu2b6ZMLGcm
yS9xu4Mzc88p3hNMn06evt8Su+TL7GNnJRNo+Z3rsblnkmxE8k1iuj/4r0WH+L7bHd+p87bQJZl3
F+6OTDXxd+jH/fdMdbGY1GFO0n9L914a+l/oviSkbd6dmFrn01dsek+mz4V9xrie48S+DOLbXYQW
RvvdOpDDN9Po9vxv9CIXmK2p/5u+5CKuDxWycVwfquH/jU5UWY0Jv0tXqlcyU/md+lNllcEjGkmf
UTSfXJ/R2sI7jQpnvpCuo8CQRj53A1LwfAamiPTHwH1WuP4YdfPokCGUzjm7ZZybBlhI3wwoFnAS
Jr9mPyQxWSWpI8qKGfnnEQ7cnYkjsb8pKCKYFVt6vbC4IPshicMqyf04WViD3yk86MigDhYWIcxC
/c4844Qg+TW4N3UHcLw2ZuRv9WGCGZBGTu/ArTdIpleirC35zSqkOFb7zBuAAbUTasAhsg6munzs
5P1YDe8YAuoa9Dv38r/DrZQfcksht9Dxv6MHd5HzeEp45v6VMDSjT9dpAOp69Ps65F9Mu9fm1ZRz
ohfUI5yLfncbH1uYeb8RmZlPsuz/jMAAV8/1UFJB3YukoCSTMRzNbNakeOc4XNLBbyS5NGRfKJVy
THilAofhtfiO2Fx9gHbmauid3bgJUmdDDYT8GX2+83lwdq5wQY5jd0TT3eyH1MLkEUTVtMjtEoFm
CYUvvW98C+07IoXfdC+49mFel96D1em2x6sK3Tnuze6rxu0hP+J6Mxdy4yUtwDrn5ZcPp/AVdAsm
6M7GxvES+wfRaXdSFMhXeGLm/O+JeW3G0/a48B15ipfHZvSRBgVtyvemsQ7OvS/PuCUfFXq/KM3z
k+vZ3DrLfRSFcvev06+k+Mt8eDyjffO9hQc/aJ7Xt87Vf7oQzkPNNDrWzcn/GV2Mpv4wrxjJW5SL
5InOFQUQNM8sZOP/StoczBkoyWhaKlbyEWezCu0alDEDczUKUqY74RUSMkkDA1QTdRx8Bkrw3XX4
/KZJAh6SHDdw98Whn8G/CX8G70v/bB94DiyAL2G7nV2/BkZEp1tFNn/Q5gjClxTxDpr2JoJh124u
hjqA/s4LX6ZUaU8mxYMR0WlW2u7H95WC5xSxTvR3dluwnPwhSD6Z3EFdQe3G4zFZ60Q3+jN+uKsU
dV20yJcIljt3Y9uGMEIVwWidjjKe9S8ozzzEnAWfwCDwe4WkQELHB4QO+wxKmLyEmTLjZNPIPz1F
MMT0gmFCrxXHL4QUi7P+tVd0mo1/JLsjNy96s/gCqMXJK2EX/DvxzGMlJFkUOwCCC79jmYT7zN3j
AeyoOHFd0J1WL2w0mnSmZSqTrcrRtVQkZRiJvURvjtfCzZ3ugM+sH29wiw2eLcFtewFsbjCYig0u
fbHJ0UFvW+oy2iwG7+bVdI3JoLOUISur7Gz81z4iH5bk1XAVwrYqtQdHPkq62RdS5VQXzVaQyWsz
EL+3CsRzERKbSQfxuIzgQAMmYVJlslbZuxEJYhkiQWeO1dGbO9xBn9kwZne4xHrBb/UuFjEMow6S
X1rX6w76zXr8SyIQrTcaMxROeI1Ws8G9BVFo1hMKNcqBhNGkMbr531jiiloMnk1rEAv0OmuZ06TU
cPpxkHoJXABep6QU5Ut1JwRNO4aH47Hhl4a3jYxs49YZafIzuA7Jhxx51W6KMmTssXFGW1rycUsi
hG9cvJu/ePF17vZATeqawOkvjMVP2ZAdugdjiadu+HyGv87Thq82vF3x5E/R7+G7EZXgfu73+JsR
Vfw1iDblk8/LfmTQaJEOH0t+AO+D91FipMMyEJUBO1gExlzsI+wDLrARrGdvYW/C45qSn8IfwXvI
Cu/NOk/BjUpi+C217uOkKP7GX1ywid7AM6+sGN+4Urnr+m1ng3XS5YxqMbO48uXThleVu6xBn11a
E5o8x/E+83sF/Ssgk27ceZL8rov3aGT6hlL9vhv64oFKX6xcrndctUNfE+H23Kk7X/ENpRV4v4iD
O3FtjPRin3ZlALmjlJ7l8tf/oQNGejEUm030TcMDa5eXe2mzl1Z7mpoGbE05roC9XQEZBeiWSiWg
KBauGz6kkEHFj4frOqdezH0ZLKR2gXfhrfAFKoAjWVpuL5NnM5u6oY0hyyO+UBWt3NwFxVw4D59g
Md4g3+trl16uq9Hb9HabLepz2LQyrUxhMZRYaqPVYb9T+6RRK/FKvfRytWjtGtqggZVQqaNPph2i
csnuEoPYL5Hq4RLw7mi7VqvSKxUWo6tUqep1WrQlZoPR76xAOw+oNZ9tB/Jbb5VDifQBTHURUN39
3HMXmLS0jPNZrwbvwxfg00g++XvU5kbuxvfFej042wrTTuYryoDF0KBlPBzidatpvRAxs7tEL/Ex
Mj3NojkT1Ui9YYX5NW2RSKeXRKDKQIP3ZbOCLVI/1Tk66nU9JWWKiG4Pg0aQBLi7NelDCv7NTkjA
YdBoQPZ+UzJB28i9EEtI3MqYtX9HwkNujM5RDx7XZr4r/GYcb8iMca6xFX4ADkReXdWpqF+a6HDY
LC6T3NLhMR1g9vR71y+oqXOazDazXG4OqXY+3efduLyuwRWxW5VaV5lu88nMdplz10F5kcziNClc
5Qm9Fr7itHZXB61eF3qS5ur1BvaHdx8MOIxut96lElW1g2/YB+87yF014dbImibBUYP31C1suNTg
tLhNmu6FE2RdR3TDWkQ37o+Zj46ZoQy83cwuBANUDtDyxOM9i9xmm8siDuhqmrT6my/YIS9PNCaW
SDeBH88EGPyoPmT1u81eo6y4b2JSzN7oUOF6WVJ72k/i7hjviQhvOcmZnAWxMT6tArEVCODnhht/
uDGwQ/YoXxe1TuIoM4vdJeGETp8LbehDg5bOqvvqN2yXVSHwqt6FK3iZGkNYl1Jbsvqf5ePhvMUL
R8NjyF31CmQsCp/omXBZrJjn+uomreGWC3bKwvWE5/9VqKgtquouaj5fXgTS8vY0PJoozZ4blyIz
N4VJn9va+1HQJpA/mvDoe0TvFlEb0xENY64JnBd73HEBo4PTWPQDTGJ1Z1HzWjLf0sr6xiY0348X
wh54p73MIvYUl8d1hiUyhYBD4BeIRJe1h0iFRZORigKYs11eyctNyOfIMIjjjwvxp4JqoLqxF83f
UYNDuMiizqEAQiZo+b6sDG2Aatg/FOsavHjB+v6misfzqcJ22UO2UEoD2JpFlcMVkQUl4CI4NNY3
fM2Gxtcfz6MU7NR2RTlPD9u24eL2zdXsy5Up/aU9iJ42cj4wB/w5iqtm6rRv4yQhBN/Ik0XIeroi
VXgVqa5dImuX1+LCq+puSYbCvDrO3pGpyNIp+Iost5lrL1FiyNAqsKcd87enOX67MKt626E95smR
mlpntc2kkJr86tMLMq6l61cGnEYPkkq1uLINfJuen3KEf5RaMff8zK82vkADvF12wOqq97X4nD6n
xcQVzY81Mc6Ip63Ww7hCuGi+sGkrsIw+awbx2SrigagZ8aCfmqDWUidj202kMY/qzcdYC5SQns1C
QcSIbbJJmqjpJQvWYTUt2Hhjy/armsWVI+Ha8RK1rTS3uYJHMY+eFShzQTYcGbipeEqlwfPbiypy
GC5it0StiIcrqBOo/TPs+pyK/f/G1m+TrePsgKJLFoxEa5bKOrAdWLyturtA25+PmQLbz1sLh/+o
rXimtShkLcjJUoE/sYrakcXRAo3JvHjqz8VG7BVszvYubj+017yM2B6rUclg21OQkwGuyXIuCPuQ
dzDNxUhbKLeKWKgCmBec6V+I+hHPtlL7qAtmyOH8DNj/K6Hcz9k7l5ezd1W1aXvnlSJ717a16n9T
PDNWUaeazSp+d0kV7tlx/MyH13rxLHtyLbdBDqf3joLt/fQisQDOmvSC7+fYql9jrm9xeD01ZSI0
KT+lAwa8zzeZ4J2Xd3SBiBdCWGyndeq4FwfLKj05t+/g7OYqj+2pW5RSqBDs/BeWNchoUai61GUA
RdBZWhkKYDrF1FjyC7oB3kUVkYwq7tYiQYSeJnGWlNXHxPoFPxV+H8Sahw8sbR46cDk4CSzys1ew
P9wXaHPWoxf4b/Kj4QMq/hvwroGOiYsGOicunJoAK8AAezf7OFi4+KSaBUtOqhkvJj9EL/aeJdy3
FmCsGiqCfJNzaRdCaiX98/Eav4U6hTqN+h51JXUHdT/1CPUk9RwiC2/bvcWk3Kg4Gncbo4w+Whet
86KXG39CL6/eWydGwt6MQ0ReTxWUoM0+HwDU64z8sWjUGA/GjOjX48ZoEDHeW8egDyRIg74pIdOO
f78KeMlvkW97+aG86LMRfwmS2AJ6cQEFbxDrFhYNfmtgRL+NBcXDKSE891fSO6Vvqkq0yg0OMGLf
+E91IBBm/6GuUqurgFhe5NRopIplSpEIaIwqpUKjMmqUWjlQKIolt0mlarmuRK4DYblMIS/WSZt0
KpVO5VLKSqQlsp96LEajZbXUzEjNm1TSIlAkVUnloIgpAvIRhUopVWg0dxcVyeMumUr2ikoFqrQW
LSwbHb318IiqQ3V4dBT9/36R78ILDeIEXaJw6vUKrVahtJTYNXqTSeJS7a5USHUWncnkVBeL5OpK
tUYll6nVMnmRwV5cbK9klIyCqXS50P+rPJ4qL/rvZoNcq1X3681azZ3FUpmmWFJUJOF7eOEeV9x9
UoKjoxw3MB0hLascenss6+alTdwhun3qjZwNoAB1KiymviY1MZnTaDU4Nd2zOV3m8v8BfhJ7GwAA
eNq1lc9rG0cUx99KaynGdhq7pNCahiEtJnasle2DXQSlGP/AMb6ZmEJP692Rdu3dHTE7i9Chl/wH
MYXccun/0FOhhV76V/TaS++lt3xn9GTsRIYoNFqk/czszPe9N+/tExE99l6TR6PPM/qJ2aPPvHnm
GjW8TeY6rXtXzD4te/8yz9BCrc3coOVaxdykuP4D8z16WP+HeZYe+gHzHC35F8zz4J+ZF+jFzK/M
9+lp4xXzA1ps/M28SJ80P2deoi+bEh56/ixGV85byx6t01/MNZr3vmKu0/feN8w+bXu/Mc/QF7VP
mRu0XfuWuUl/1l4y36O1+u/Ms7Tm15jn6Gt/n3ke/CPzguf7vzDfp7PGd8wP6HHjD+ZFetT4j3mJ
Os1V2iNFfRqSppR6lJAhQU8wu4r7Fm3g2kJsY94BHWGHpC5l+NUYr+B7CJLu26JjPC9AJQV4YhUN
LHSojWvgrgAzQ8wpWNQUghKMA4owkxPtqf5Qp73EiCd7q2JrY2Nr3f7uiCMlu5nUYkUcaqll61gV
sgxEYky/024PBoPADPuqp8N+MgwiZaWgrJ0/KdStx4L2wSVsZrA8xPgUsznmaC/RqkijTIr9tOxn
4VCcyjy1JWuwNHMS9MyEWYr7EeI+RKwdKExj5ZxijG5KWoVNRD86YTpaOTzuiMm+nMdiZL8jNgMc
yaQAbxtuXRu+FcW1PKu3rPo4tDOXyhIrre4t586kLlNVfEzrkw7TagrsF1CxBRM71RB8iTmFYpym
LG05D2DF6ifgnFN07mzZ1T1n0fDe2HlgTyJyMzaS0fiCKvfilFhj1QyfmS39G+WUliIURoexzEN9
KVR3ciWvi0GSRonIke1zKbTspaXB01ikhYikNiHuF5VOyziNDNJQBjRF2DTR6P+h8F5v9aTX84M3
7rpkjDrXuAAMttkEHsDbGH4/h8ejiE5ccqRLjF2x6wxJV0R21rjdijVGxdZ1UdsnpdM3cDR0u6zl
0KV/VDB2ZeVsCrcnc8UhXcGaD+qAbdisMGef23JrQ61yr1Tg1HIwUr8rInRKW04mkeKgiFvPSyTn
JI1kUUqx29NS5rIwwiisQBF2FQal6ppBqKWIwsKWWVdVRSxUkaWFFKG5u5u2y6rfV9q0ZZWFQWLy
DD58nOBoCifep8m/29rpRkNWWPV2UybXblU2brjT/ZWIO/rdrWY+Vn4DUmfc3AAAAHjabZNXcBtl
FIXPiSVtJLmk996r4/RelFhxnDh2Yltx7BRntVpp12rOrtaKnZ7Q28AwwxsM5QkYOgEGGDpDb0Pv
vdcHHuhhtb+wNjNo5r/fudItR79WGACc/dU+Z7AI//OiVggYgDJ44IUPEgbCjwCCKEcFKlGFQRiM
IRiKYRiOERiJURiNMRiLcRiPCZiISZiMKZiKaZiOGZiJWZiNOZiLeZiPaixADRbauxdjCZZiGZZj
BVZiFVZjDdZiHdZjA0LYiE2oRRibUYctqMdWbEMDtqMRTdiBnWhGC1oRwS60YTfa0YE92It92I9O
HIDMAbgJ5+F8XINvcAGuwKW4FjfjEryH07gal+MiPImPcB1uwY24Dc/hGdyOKBRciRhegIpn8Txe
wYt4CS/jW8TxOl7Fa7gDCfyCq/AW3sCb0PA9fsTF6IKOJNJIIYPrkcVBdMOACQs59CCP73AIfejF
YRzFETyAG3Acx3ACJ/EDfsKDLKOHXvoocSD+xj/0M4CzBIMsZwXJSlZxEAdzCIdyGIdzBEfiN/zO
URzNMRzLcRzPCZzISZzMKZyKP/A2p3E6Z3AmZ3E253Au53E+PsPnrOYC1nAhF3Exl3Apl3E5V3Al
7sRdXMXVXMO1XMf13MAQ/sRf+AJfciM3sZZhbmYdt7CeW7mNDdzORjZxB3eymS14iK2McBfb8BW+
5m62s4N7uJf7uJ+dPIB38Cnexwf4EJ/gXXxMmVEqjFFlnAlq1NnFJFNMM8Ms7sY9uA/34yncizN4
GqfwBC7ErXgEj+JhdvMgDVyGn2niMTzOHC32MM9D7GUfD/MIj/IYj/MET/IUT0tWRq+pCdVIobSs
GNmMJAv6QlFD7VF9sgMplE1kM2pSkgUDm2LZnKwoaiYXUPqlr1aRC60xgVp7jpyTwsXBanFwWAxW
HQTCpUFqv5TCxXWqoC8sJqoOAnWlnkS/LK9Tsum0XEwSrsSzJSobHs0OUn3Ri170Ui+86OJL1he3
6oLl29wTk67E1yArVk71pRyUN7jrUufUCd8pB54G26wnZQdfo+jPiP5Gd3/G3d8o+jMOpKai+2zR
fZNwn3VQ0aRZmYRsWOmUbOUqsu7M1yz2GWJfs3uf4d7XLPYZAi2iyxRdre6unLurVZTnhMtI0aVV
dBkRLi0H3oihZxJeqxArIuc4ttyZFCn+FpZgsE3RDcVKx1PqoWDepdtdurekfR3Ce5+DQEfpiekr
yVDBhSiQ+6UUCgvKqsNgk5mSTU3obEmXt7jvw3QlXlPR8nLQfUNtCUO27yAv0Ca85R3422K6aqim
bvrz/ylfuyjsdSCpGbNbVmymHVblNENVu+1SkVfGs5ZRSv05TRcNfk3WDUd5wpaR9Xdb0ZRuamos
aKpGj67Y/0gjWRbvjHvt06k7MWXnUfto9umyT9J5N+pEzYldTkxWGmpCN3P22li1nMoFbQOFr1rQ
ZY2RBkmLd5kpK+HVq+0L9zuPRuGzfwF6iC7cAAAAAAAB//8AAgABAAAADgAAACQAAAAAAAIAAwAD
AVQAAQFVAWEAAgFiAWcAAQAEAAAAAgAAeNplkM1Kw0AUhc9p0hBEs3RRRIpINxapRcSFuBArhKQt
FH+q1WqsWJRUhXTtw/goPoELX8V1PbnOzoH5zr137tw5DAhgCUN8oFLXQpRn8xdswFcdiwWqEsJT
XlUfTwdJHbV/J2UeWF5xlSDL8jka+dM0QzN/neRoF2VlvyhaOzgU2zi2G3D3StLNLOkbNQkRVrGO
Brax5zpaTo9c14nLP51+Of3W3Ag+J3zkPac2NUSKGbcUB6zZm6n2u3aIFaxhE03s4kDuUgz0M2M8
4BlvvJSvGH1mpj3emXY5NE15a5pwbNrhhd7u80bs8Vrs8lxMORITnokxr8SOeYgVLcOT0z+fntw4
l/ixjpk5Hlkc/gKlpC8KeNrNWn1wVdUR3/tePkggEEJIQhIjEkQCBiGAgihFC8hoBVri2BTGsVL9
w1pmdBid6Tid8S9tnelYteB0sFo6w0g7QwP1C7CYOEFAJQgReIKJIYghyQuQQF4IAU5/u/fc9+59
776PfA5nZ++799xz9uzu2bNnz75LBhGl0520mDwTUWj0M79ev47yKQn1pBSZ743yXzw0Eb9WjfHb
J59bRyP4TjCJPPj1ULr3LBneDdJ7Ei2nX9Jz9CJ9Tl/RMWqkH+mCkWLMMx401hhPGS8aOwyf0eoZ
5SnzrPds9nzi+czj87R6R3hzvDO9C71rvOu8L4LmfHWAymkCpdB8uocWAJfQWnqYNtIqug3Xl9Gm
VO2iCjxlUZb6lMZRMo0H5gBzlZ8mAPNBoQC/haibQ2WglQVayaBVQSuVj1YBy1U7VeB3taqETFmq
HpRzVa/08+A5YKxAD34TkGdQxV0y7ppovH4qpGxpNYrSVC3eVNI4UBiPNznAXNVMeapDOCqEPovR
8zeq1liBdklCMRet8vVISSLNeHUefTvQplm0UUsL0CuZ0gBZ+C2lAtQ2o7aZMjDqIRm1VH1Ic9Q1
yJmBNz30sGqAnA2QswFy7oCcX0LOatqojjIljJqlatDra7TsQMs2tGxDy0a0bEDLKnCzEiOsApar
OtSexPynqSPotwn9XgMPlzBSHd5WQafZ6NMmPKZBFzNpEkYohSbmg+ICtY8W0VS0SqHH8ZsJOjVo
dY/QmoSaYnUFrU9Dgi60vAc8tWD0aoxeDfpbMHqV8PQ43m3EOCNBwScUzN6t6P0Deh+W3sKRrXW4
Jb2qLeklzG2Fuii6NWe1AjOyGhxvBPdJoP8sND4XNJ8FrWcpFaN2ol0tpPPRErQpl/ZNaO8nL97+
KG/KobNoYz6Gdmw3BWw76JUqlpQjluCDrcAaMG4BaBZirCTMdjZ0WAPOrtBq8OkV++K2E1Cbgie/
jcJx0ybR04Bm0qCnDEgwDjRyKJfysCbyYT2FVEy3Ugloz6TZWB3zwedCWgkOyzFHq8Hjk/QUvWCs
MFaSZ0YOr+6pr01/kJYBCCOcU7vV+7DmdFpK6eqKugwNJVry1H7Voj5S26AZhnzxO22Ac3jXyz7H
XiC1dXdZ43fqmDxfh+2Yb645enSqJlh0wgW24+htUhToidHLbNfhNhI489ueAiIdeMLMJMJPM9CP
9gFc/ehZr86CIsPFYJsOc2SsZXniO9i56DGCXi/wmO3ZD6sh9ZmMlBaXm6uqUV1WB+BhSPgJMD/6
XVdcYVJ4LDeO7PyoUyHJEtDP987eJkWBGPrV7bpVd8Sr1DAbSBf9BlibCfFTxZqET7BKEtaonvmE
+vvjtjgp1zrTOtg++qCtJpe6OuVjNGmCog9o3p00xxo6flzpufHTFY0f9YP6EPuJfX39FzsWqU+w
Zk7JSqhVO6OOVQ/qVWofaDSZnkeuuwEfwq/9D30/A6WdjKj/QB0CvZ3AvXj/BUZyoQwONqvXg08X
zVWZsPTb1GH1N7YiB0WG1nhWBL6OQuqP9dMforRqYY4geQ3ayny5WYVLv1pAG9Znp50z9smgBRCa
TLE+aD8tiBfd/E+jgwL7n70J+58zqgvWsQv3PYAARjmv36m4q8fd/1xGzGRff2MivVIMjhoBB9UX
jjreLS6HJDbB2pnkztzHxphjOUoxjcaOb6fWpmc9O75+KBna6dX9iwGESHgsKDJkUnZsH+S6X1RK
bG+veVe9i+s7qhJr56A6iPtTMYjq3mj7EeBjtQPxvIdBXYAF1qL+TdACoM2/4PsP4v6gzO9Bc6Sw
0Y+EYgDLp8EGfsQsNME2WxAp8h7SEkXCDluvbwF16ht1GhbMcJV3RuwJZ2VOG0GrUSjy3TnEEbxr
R6wUyGN6PI5e+FoEf7Id9ZvQ9wDuq2ALX5veMdbeB01sAFSp96CVZgG/rKs6UDKB775Gi03AzeCa
aVdRESJex/6jebT4KYPPehP1G9Qr8Gd7ANfUifh7mdql3ge8rbaoapabqcL/1QHfFE43QB8bQGkP
rnvUG5B1M0Y6FM4Pr9kwX9YiFt0RbuPu6925G5u94AUAlAJaTbzizfjHoiHxj197uhYX71ypnnbU
bOcowJxF7dsW0yLMdwdkPYBfH671OImZrV+H/p+2/LuO+yoZQhGbCRwFo3cn7js1bIctvatr7V60
JpF9OsZc1eBMNFilmP24g/ppwLdu+5yW1ueYmz2yD1QGtd3bh8gGI7nWfxrhXf0J64Z3ok/Vv23z
35OojnmkBKKolL5GYG5+JKHisn+52vOVoD2b/n4KlaBdIvYciGHPJToSadbxSAAjnRF7liebLTs9
wALZu8LLLBfdmJaUjf5TQ3U4ySdaFshYTHuWRT9ybenc1hf9jE4/UF857RlxoIBFM3SHkZIi+g/e
SrXW/rFBpug34zPJMlHiZxfxE2divA/Y/bi6LiOdQ7yyKy7lgMbuQZEvYNmrtnaHbODHF5dCt9ZT
b9/HjqjKjh0ZROHnBVoKWEXL6dUgT+mUFW1luUWKrrWcC7ykriMK4vnpMfMXNv+eQuvped12fRTO
XU7vsXInCeuuJ3IkQJdrzmWXzX+0816rLvWHn7Ao5bBcLwE6gD0mTb7qva9dtffXJgfDrvvZ7yIN
U5H5aouXjVOt6kK4/0l4XSe8r4p9t2IN2/yPmwYlD+GXXfA/6hvbqa8l7gg7AY54Rp3QUSnHwB0W
DbZFnIWuOU7oLYisL0WVsyvmGh5QdsmRHwtI9qvT7vXc9a6j7j5boJsHhWZ6Ga23cqc9tfMs4UrR
p2OsDpyoOm17WiDursfnqc7o/KDFpSA/Vx27WSC67EF+2h38NA2An3Z4Z8YmvU66I/awePxwD0RV
9t06Lj/mrtnpYiV+Oas2B5/57nSi/PSxpMvKOYNzcIByKTc8FzDsxVyBGZShjuP8uxkR8U61X/9f
8L2cm33qL2qHwFG8bQDsAG7BmwbOQAyyh+227XucrzuFE3uD01uoI2Z+Q+5wasZ9G04EDbg2BNsO
Y4nI9x6Lle8dcEmRHbwWFvs6oE19bOXq4YP5H40zai/mskodN7OS/A9TMD+RHS1a67fs9nzmKcAg
5DMHxE9kPuofwC4GOdfvl/zPFoE29SesxmrJEL0Be652y0cNkJ8LZrY4mGMw8/OHGfD7JUatx6i7
BdtwZSvaDdyHN5IhG/QZOyS6qYzRZIIGki8kSO6Sh2ktdSd2HtRx6m2AoeCiNvT/V+j/gn7mPAaj
mLnQeOUxl7qb5LpWYLj5eWnY+BlIPN/Vl3/X+5iH8NMNVCS/8cNQ5DeGyH5edqm7fajsx54D7G/M
ckOU0sH2hZKj22XL94xO9CzG/0oNmTU3qa1qa1jdgWHX9lK5jrX+B5WotZ7KNIROPMHMClrsBtbA
2nwMUlkhMNjeh89fftc3AY3nQ6ebRM+DA1th4R5J+xr5jymYheK7s8PgD28w/9xvOd4bEqr984fJ
Q+cP++ufb7DZ6nLox6A041c0m8x/meYAx9F4yqNF9FNHt58A59ue76W5uE4nD3kpCbtiMk5SqfD9
IyiNZlA6jaQ7aCaNwsl+NHzTLMqENxpLWXSXjcZiKpR4rIhupiU0UbzZLTSJ5lExTaa7sUffSlMQ
YT9A9+FMdD+V0DS6M4pYfErJpYKI+hxa6Hg2wHGShlQNXuHXAgKO0TBW8xmCInBcpCFUmF8LCPiA
hhI8lQgFCz3obyF/18aYBFrhyF9WW5gC3aQSOXAENJUm36Q6MR28WDgSnFjINEdBnxZmQLMWjoaO
GceA43DMhObHQgaeu2lBZEkMUGTKTKHIZUYy5cvkqUEK9jIewN/OjtNXs+RhBnP0bBbIXN5M/B08
YyF0wNZh/WbzV/PGWtGFWcwdcIT8YzgF1scy3QT6RejDdAvk29g8yH6r7sHff5eIFdtjOwNShyIZ
/vpmolilFxodBXlnWFkQKWWQhL/5nQvLvAtrZh6kWYw5y8RquRtyZ8g3y/fCCtOxhkbKd9uxMs+z
9I5uLzOhhxIbTAtyHB55WcD3kzRMFn2WOWA2+DVhngYSfi0g4EINi/C0CKOWBXE6+lto+gzGuRF4
OzRiIYk/mWdDgp55TSxxwflBLAUndjT9lIkToVkLb4GOGSeB43AshuYnQwaeu6lBZEmmAZkqU5jr
olHuaeHksK+y7wDcD880RV9JZwRmYb6s2Izn8s6oYJV5sLKb5Ut/Eg9kcD4UdWNgS15YbT6suhCQ
JtKkQ2tLMc4yegj8P4xT9wx6GrCInqHfgZPn6c/Q9Wv0V1pDb9E/6QnaSttoHVXSB7SePqIa+j19
DniF9tMJ+iN9B9hEDYC3qRHwd2oySugdY7ZxNzUb9xnL6LzxM2M5dRs/N1bRFeMR4xG6ZjxqPErX
jQrjCVL/ByGCKrwAAHjaY2BgYGQAgmOp20+B6EN7qzNgNABRvgdyAAA=) format('woff'), url('ChronicleDisplay-SemiItalic.ttf')  format('truetype'), url('ChronicleDisplay-SemiItalic.svg#ChronicleDisplay-SemiItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


