section#main-page.main-style
	div#center.main-content
		img(src="img/letters.png")
		button.btn Start Using Today!
	div.copyright
		figure.social
			a GitHub
			a Twitter
		p Created by Lukasz Schab  |
		figure.commpany-logo
			h1 onelife.co
section.main-container
	header
		.conteiner
			div.compatibility
				p Browse compatibility table 
				span 
					a http://kangax.github.io/compat-table/es6/
			nav.style
				div#hamburger
				ul
					li Scope & Variable
	include scope.jade