body {
	font-family:'ChronicleDisplay-SemiItalic' !important;
}
body section {
	z-index:100;
}
#main-page.main-style{
    width: 100%;
    padding-top: 1px; 
}
.paralax {
	position:fixed;
	background: url(../img/bg.jpg) center center/cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    z-index: 50;
    width:100%;
}
main {
	position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.main-container {
	max-width: 80%;
	margin: 0 auto;
}

.module-header {
	padding-left:25px;
}
.module-body{
	margin-bottom: 80px;
	footer {
		text-align:right;
		margin-top:20px;
		button {
			margin-left:7px;
		}
	}
}
.app-body {
	padding: 15px;
	padding: 1.5rem;
}

/* module_panel */

.panel {
	border-radius: 3px;
	padding:25px;
	margin-bottom:25px;
	background-color:#fff;
	-webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
}
.panel header { padding-top:20px; }

.main-content {
	max-width:960px;
	text-align: center;
	margin:0 auto;
	button {
		position:absolute;
		bottom:100px;
		@extend %center50;
	}
}

/* BUTTON */
.btn {
	display: inline-block;
  padding: 9.5px 15px;
  margin: 0;
  border: 1px solid #ececec;
  border-radius: 3px;
  font-size: 18px;
  line-height: 1;
  height: auto;
  white-space: nowrap;
  text-transform: none;
  color:#000;
  letter-spacing:1px;
  font-family:'ChronicleDisplay-SemiItalic' !important;
  background-color: #fff;
  min-width:260px;
  min-height:43px;
  border-radius:30px;
}
.btn-shadow {
  -webkit-box-shadow: 0 3px 0px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.0);
	box-shadow: 0 3px 0px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.0);
}
.copyright{
	position:absolute;
	bottom:20px;
	width:380px;
	margin:0 auto;
	left: 50%;
	@extend %center50;
}
.social a {
	display: inline-block;
	margin:0 8px;
	/*  vertical-center element */
	text-align: center;
  vertical-align: middle;
  opacity:0.5;
  @extend %simple-transition;
}
.social a:hover {
  opacity:1;
}
.copyright .social,.copyright p,.commpany-logo {
	display:inline-block;
	margin:0 5px;	
}

/* Navigation Style */

.main-menu {
	li {
		padding-right:5px;
	}
}


button {
	position:relative;
}
nav.style:after {
	content:'';
	background-image: url(../img/burger-ico.png);
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: 10px;
  right:20px;
  width: 26px;
  height:23px;
}


/* main-container */
.body-code {
	height:1100px;
	background-color:#f5f5f5;
}
section.main-container {
	max-width: 80%;
  margin: 0 auto;
}
.main-content h2 {
	color:#A8A8A8;
}
section.main-container > header {
		height:190px;
		.conteiner {
			padding:80px 0;
			button {
				float: right;
			}
		}
		.compatibility {
			display:inline-block;
			p {color:#000;margin-bottom:10px;font-weight:bold;}
		}
}
.compatibility p,.compatibility a {
	font-size:1.8rem;
	font-size:18px;
}

/* code */

.panel-body {
	.code {
		background-color:#fefdf1;
		min-height:180px;
	}
	.lang-es6 {

	}
	pre {
		padding: 30px;
    display: block;
    font-family: monospace;
    font-size: 1.2rem;
    font-size: 12px;
	}
	.comment {
		color:#AEAEAE;
	}
}
.code-type {
		font-size:18px;
		float:right;
		margin-bottom:5px;
	}


