
/* App FONT */
body {
	font-family:"Proxima Nova", Helvetica, Arial, sans-serif;
	color:#233249;
}
.commpany-logo {
	height:10px;
	width:85px;
}
.commpany-logo h1 {
	text-indent: -9999px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 85px;
    @extend %simple-transition;
}
a > img:hover,a,button {
	cursor:pointer;
}
a {
	color:#000;
}
h2 {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 5px;
}
h3 {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
}

p {
	font-size: 13px;
	font-size: 1.3rem;
	color:#fff;
	letter-spacing:0.5px;
}
.panel header h2 { margin-bottom:10px; }
.panel-header h2 {
	display:inline-block;
	font-size:24px;
	margin-left:25px;}