
/* App FONT */
body {
	font-family:"Proxima Nova", Helvetica, Arial, sans-serif;
	color:#233249;
}

/* App FONT */

h2 {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 5px;
}
h3 {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
}

p {
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 18px;
	padding-bottom: 15px;
	color:#8491A3;
}
.panel header h3 {margin-bottom:10px;}
